  
body {
  min-width:800px;
  overflow-x:hidden;
}

#tableData td {
  border:1px solid black;
  padding:3px;	
}

div.group {
  padding:5px;
  padding-top:15px;
  border: 1px solid #3b6e22;
  background-color: #EAF2F5;
}

div.group .input-text{
border:1px solid #3b6e22;
color:#666666;
}

div.group label{
display:block;
margin-bottom:10px;
color:#555555;
}

div.group label span{
display:block;
float:left;
padding-right:6px;
width:70px;
text-align:right;
font-weight:bold;
}